*{
	box-sizing:border-box; 
}
html{
	font-family: sans-serif;
}
header{
	background: #3B5998;
	color: #E5E9F1;
	padding: 15px;
}
header a{
	color: white;
	font-size:12px;
	font-weight:300;
	text-decoration:none;
	
}
header .fa{
	color:white;
	font-size:16px;
}
header .logo-area{
	color: white;
	display: inline-block;
	width:20%;
}

header .logo-area a{
	color: white;
	text-decoration: none;
	font-size: 20px;
}
header .menu{
	display: inline-block;
	width: 20%;
	border-right: 1px solid rgba(255, 255, 255, .3);
	text-align:right;
	padding-right:20px;
}
header .menu ul li{
	display: inline-block;
	
}
header .menu ul li a{
	margin-right: 20px;
}
header .icon-links{
	
	display: inline-block;
	width: 20%;
	padding-left:20px;
}
header .icon-links ul li{
	display: inline-block;
	margin-right:10px;
}
header .icon-links .quick-options{
	border-right: 1px solid rgba(255, 255, 255, .3);
	display: inline-block;
	padding-left:20px;
	padding-right:20px;
}
header .icon-links .privacy{
	display: inline-block;
	padding-left:20px;
}
header .search-area{
	display: inline-block;
	width: 40%;
	text-align:right;
}
header .search-area ul li {
	display: inline-block;
}